@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/privacy.css" />

<h1>@ViewData["Title"]</h1>

<h2>Data usage and retention</h2>

<p>During your use of this site, we may collect some information to perform necessary operations, such as your query string to search for API names.</p>
<p>The data is only stored for the express purpose of processing your request, and we do not retain any information, identifying or anonymized.</p>

<h2>Data security</h2>

<p>This website is hosted on Microsoft Azure datacenters. See <a href="https://www.microsoft.com/trust-center">Microsoft Trust Center</a> for more information.</p>
<p>We seek to provide the security necessary for the risks associated with the data that you transmit to us. 
    However, no security is perfect, and as such if you have reasons to believe that your data is no longer safe with us,
    please contact immediately at <a href="mailto:really-dongle@outlook.com">really-dongle@outlook.com</a>.</p>