<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UWPSupportedAPIsWeb</title>
    <script type="module" src="~/js/theme.js"></script>
    <script type="module" src="~/lib/fluentui-components/fluentui-components.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="flex-horizontal">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            UWPSupportedAPIs-Docs
        </a>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            Home
        </a>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
            Privacy
        </a>
    </nav>
    <div class="base-content">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
