.flex-stretch {
    flex: 1;
}

.flex-gap-8 {
    gap: 8px;
}

.flex-baseline {
    flex-wrap: wrap;
    align-items: baseline;
}

.base-content {
    padding: 12px;
}

a {
    color: var(--accent-foreground-rest);
}